CORS_ORIGIN=http://localhost
SECRET_KEY_BASE={{ secret_key_base }}
ACCESS_TOKEN_ENC_SECRET={{ access_token_secret }}
AMQP_URL={{ amqp_protocol }}://{{ rabbitmq_username }}:{{ rabbitmq_password }}@{{ rabbitmq_host }}/{{ rabbitmq_vhost | urlencode | replace('/', '%2F') }}
DATABASE_URL=ecto://{{ wanda_postgres_user }}:{{ wanda_postgres_password }}@{{ wanda_postgres_host }}/{{ wanda_postgres_db }}
PORT={{ wanda_listen_port }}
{% if provision_proxy == 'true' %}
OAS_SERVER_URL={{ wanda_oas_server_url }}
{% endif %}
AUTH_SERVER_URL=http://127.0.0.1:{{ web_listen_port }}
