AMQP_URL={{ amqp_protocol }}://{{ rabbitmq_username }}:{{ rabbitmq_password }}@{{ rabbitmq_host }}:{{ rabbitmq_port }}/{{ rabbitmq_vhost | urlencode | replace('/', '%2F') }}?certfile={{ rabbitmq_certs_dir }}/trento_server_{{ inventory_hostname }}_cert.pem&keyfile={{ rabbitmq_certs_dir }}/trento_server_{{ inventory_hostname }}_key.pem&verify=verify_peer&cacertfile={{ rabbitmq_certs_dir }}/cacert.pem
DATABASE_URL=ecto://{{ web_postgres_user }}:{{ web_postgres_password }}@{{ web_postgres_host }}/{{ web_postgres_db }}
EVENTSTORE_URL=ecto://{{ web_postgres_user }}:{{ web_postgres_password }}@{{ web_postgres_host }}/{{ web_postgres_event_store }}
ENABLE_ALERTING={{ enable_alerting }}
SMTP_SERVER={{ smtp_server }}
SMTP_PORT={{ smtp_port }}
SMTP_USER={{ smtp_user }}
SMTP_PASSWORD={{ smtp_password }}
ALERT_SENDER={{ alert_sender }}
ALERT_RECIPIENT={{ alert_recipient }}
PROMETHEUS_URL={{ prometheus_url }}
SECRET_KEY_BASE={{ secret_key_base }}
ACCESS_TOKEN_ENC_SECRET={{ access_token_secret }}
REFRESH_TOKEN_ENC_SECRET={{ refresh_token_secret }}
ADMIN_USER={{ web_admin_username }}
ADMIN_PASSWORD={{ web_admin_password }}
ENABLE_API_KEY={{ enable_api_key }}
CHARTS_ENABLED={{ enable_charts }}
PORT={{ web_listen_port }}
TRENTO_WEB_ORIGIN={{ trento_server_name }}
ENABLE_OIDC={{ enable_oidc }}
OIDC_CLIENT_ID={{ oidc_client_id }}
OIDC_CLIENT_SECRET={{ oidc_client_secret }}
OIDC_BASE_URL={{ oidc_server_base_url }}
ENABLE_OAUTH2={{ enable_oauth2 }}
OAUTH2_CLIENT_ID={{ oauth2_client_id }}
OAUTH2_CLIENT_SECRET={{ oauth2_client_secret }}
OAUTH2_BASE_URL={{ oauth2_server_base_url }}
OAUTH2_AUTHORIZE_URL={{ oauth2_authorize_url }}
OAUTH2_TOKEN_URL={{ oauth2_token_url }}
OAUTH2_USER_URL={{ oauth2_user_url }}
OAUTH2_SCOPES={{ oauth2_scopes }}
ENABLE_SAML: "{{ enable_saml }}"
SAML_IDP_ID: "{{ saml_idp_id }}"
SAML_IDP_NAMEID_FORMAT: "{{ saml_idp_nameid_format }}"
SAML_SP_DIR: "{{ saml_sp_dir }}"
SAML_SP_ID: "{{ saml_sp_id }}"
SAML_SP_ENTITY_ID: "{{ saml_sp_entity_id }}"
SAML_SP_CONTACT_NAME: "{{ saml_sp_contact_name }}"
SAML_SP_CONTACT_EMAIL: "{{ saml_sp_contact_email }}"
SAML_SP_ORG_NAME: "{{ saml_sp_org_name }}"
SAML_SP_ORG_DISPLAYNAME: "{{ saml_sp_org_displayname }}"
SAML_SP_ORG_URL: "{{ saml_sp_org_url }}"
SAML_USERNAME_ATTR_NAME: "{{ saml_username_attr_name }}"
SAML_EMAIL_ATTR_NAME: "{{ saml_email_attr_name }}"
SAML_FIRSTNAME_ATTR_NAME: "{{ saml_firstname_attr_name }}"
SAML_LASTNAME_ATTR_NAME: "{{ saml_lastname_attr_name }}"
SAML_METADATA_URL: "{{ saml_metadata_url }}"
SAML_METADATA_CONTENT: "{{ saml_metadata_content }}"
SAML_SIGN_REQUESTS: "{{ saml_sign_requests }}"
SAML_SIGN_METADATA: "{{ saml_sign_metadata }}"
SAML_SIGNED_ASSERTION: "{{ saml_signed_assertion }}"
SAML_SIGNED_ENVELOPES: "{{ saml_signed_envelopes }}"
