AMQP_URL={{ amqp_protocol }}://{{ rabbitmq_username }}:{{ rabbitmq_password }}@{{ rabbitmq_host }}/{{ rabbitmq_vhost | urlencode | replace('/', '%2F') }}
DATABASE_URL=ecto://{{ web_postgres_user }}:{{ web_postgres_password }}@{{ web_postgres_host }}/{{ web_postgres_db }}
EVENTSTORE_URL=ecto://{{ web_postgres_user }}:{{ web_postgres_password }}@{{ web_postgres_host }}/{{ web_postgres_event_store }}
ENABLE_ALERTING={{ enable_alerting }}
SMTP_SERVER={{ smtp_server }}
SMTP_PORT={{ smtp_port }}
SMTP_USER={{ smtp_user }}
SMTP_PASSWORD={{ smtp_password }}
ALERT_SENDER={{ alert_sender }}
ALERT_RECIPIENT={{ alert_recipient }}
PROMETHEUS_URL={{ prometheus_url }}
SECRET_KEY_BASE={{ secret_key_base }}
ACCESS_TOKEN_ENC_SECRET={{ access_token_secret }}
REFRESH_TOKEN_ENC_SECRET={{ refresh_token_secret }}
ADMIN_USER={{ web_admin_username }}
ADMIN_PASSWORD={{ web_admin_password }}
ENABLE_API_KEY={{ enable_api_key }}
CHARTS_ENABLED={{ enable_charts }}