# code: language=ansible
---
- name: Install Trento agent
  community.general.zypper:
    name: trento-agent
    state: latest

- name: Create Trento agent configuration directory
  ansible.builtin.file:
    path: "/etc/trento"
    state: directory
    mode: "0755"

- name: Configure Trento agent
  ansible.builtin.template:
    src: "agent.conf.j2"
    dest: "/etc/trento/agent.yaml"
    mode: "0600"
    backup: true
  notify:
    - Restart Trento agent

- name: Add Server CA certificate PEM if provided
  no_log: false
  ansible.builtin.copy:
    content: "{{ (agent_server_ca_cert | b64decode) if agent_server_ca_cert_as_base64 | bool else agent_server_ca_cert }}"
    dest: "/etc/pki/trust/anchors/trento-server-ca.pem"
    mode: "0644"
  when: agent_server_ca_cert is defined

- name: Update CA trust store
  ansible.builtin.command: update-ca-certificates
  when: agent_server_ca_cert is defined
  changed_when: false

- name: Start Trento agent service
  ansible.builtin.service:
    name: trento-agent
    state: started
    enabled: true

- name: Install 'node_exporter' on SLES 15.7 and earlier
  community.general.zypper:
    name: golang-github-prometheus-node_exporter
    state: latest
  when: agent_install_monitoring_dep and agent_prometheus_mode_pull
  notify:
    - Restart Prometheus node_exporter service

- name: Install and configure alloy on SLES 16 and later
  block:
    - name: Install 'alloy'
      community.general.zypper:
        name: alloy
        state: latest

    - name: Get alloy configuration output from the agent
      ansible.builtin.command: trento-agent generate alloy
      register: __agent_alloy_config_result
      changed_when: false

    - name: Generate trento alloy configuration
      ansible.builtin.blockinfile:
        path: "/etc/alloy/trento.alloy"
        block: "{{ __agent_alloy_config_result.stdout }}"
        marker: "// {mark} TRENTO CONFIGURATION - ANSIBLE MANAGED"
        create: true
        backup: true
    
    - name: Append trento alloy configuration
      ansible.builtin.replace:
        path: "/etc/sysconfig/alloy"
        regexp: '^CONFIG_FILE=".*"$'
        replace: 'CONFIG_FILE="/etc/alloy/"'
        backup: true

  when: agent_install_monitoring_dep and agent_prometheus_mode_push
  notify:
    - Restart Alloy service
