# code: language=ansible
---
- name: Install Trento agent
  community.general.zypper:
    name: trento-agent
    state: latest

- name: Configure Trento agent
  ansible.builtin.template:
    src: "agent.conf.j2"
    dest: "/etc/trento/agent.yaml"
    mode: "0600"
  notify:
    - Restart Trento agent

- name: Start Trento agent service
  ansible.builtin.service:
    name: trento-agent
    state: started
    enabled: true
