# code: language=ansible
---
- name: Check Trento would be installed on SLES
  hosts: trento_server
  become: true
  tasks:
    - name: Check SLES distribution and version
      ansible.builtin.fail:
        msg: "This playbook only runs on SLES for SAP 15 SP3 or above. Detected: {{ ansible_distribution }} {{ ansible_distribution_version }}"
      when: >
        (ansible_distribution != "SLES_SAP") or
        (ansible_distribution_version is version('15.3', '<'))

- name: Provision Postgres
  vars:
    provision_postgres: "true"
  hosts: postgres_hosts
  roles:
    - role: postgres
      become: true
      when: provision_postgres == 'true'

- name: Provision Prometheus
  hosts: prometheus_hosts
  vars:
    provision_prometheus: "true"
  roles:
    - role: prometheus
      become: true
      when: provision_prometheus == 'true'

- name: Provision RabbitMQ
  vars:
    provision_rabbitmq: "true"
  hosts: rabbitmq_hosts
  roles:
    - role: rabbitmq
      become: true
      when: provision_rabbitmq == 'true'

- name: Configure Trento components
  vars:
    provision_proxy: "true"
  hosts: trento_server
  roles:
    - role: app
      become: true

    - role: rproxy
      become: true
      when: provision_proxy == 'true'

- name: Configure Trento agents
  hosts: agents
  roles:
    - role: agent
      become: true
