---
# Auto-discovery -- if `*_host_group` variable is not empty string,
# then we'll ignore the corresponding `*_host` variable and search the
# inventory for the specified group and take the first host from that
# group. We also handle the case where hostname aliases are used,
# hence the `*_inventory_host` and `_ansible_host` variables.

# RabbiMQ auto-discovery
__agent_rabbitmq_inventory_host: "{{ groups[agent_rabbitmq_host_group][0] }}"
__agent_rabbitmq_ansible_host: "{{ hostvars[__agent_rabbitmq_inventory_host].ansible_host }}"
__agent_rabbitmq_effective_host: "{{ app_web_postgres_host_group is truthy
                                       | ternary(__agent_rabbitmq_ansible_host | default(__agent_rabbitmq_inventory_host),
                                                 agent_rabbitmq_host) }}"
