worker_processes  1;

events {
    worker_connections  1024;
    use epoll;
}

http {
    include       mime.types;
    default_type  application/octet-stream;


    sendfile        on;
    keepalive_timeout  65;


    include {{ conf_folder }}/*.conf;
    include {{ vhost_folder }}/*.conf;
}
