map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

upstream {{ web_upstream }} {
  server 127.0.0.1:{{ web_port }} max_fails=5 fail_timeout=60s;
}

upstream {{ wanda_upstream }} {
  server 127.0.0.1:{{ wanda_port }} max_fails=5 fail_timeout=60s;
}

server {
    # Redirect HTTP to HTTPS
    listen {{ http_listen_port }};
    server_name  {{ server_name }};
    return 301 https://$host$request_uri;
}

server {
  # SSL configuration
  listen {{ https_listen_port }} ssl;
  server_name {{ server_name }};

  ssl_certificate /etc/ssl/certs/trento.crt;
  ssl_certificate_key /etc/ssl/private/trento.key;

  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_ciphers 'ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384';
  ssl_prefer_server_ciphers on;
  ssl_session_cache shared:SSL:10m;

  # Redirect openapi requests from Wanda doc portal
  location ~ ^/api/(v[0-9]+|latest|all|unversioned)/openapi$ {
    if ($http_referer ~* "^https?://[^/]+/wanda/") {
        return 302 /wanda$request_uri;
    }

    # If not from wanda, proceed to TrentoWeb
    proxy_http_version 1.1;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-Cluster-Client-Ip $remote_addr;

    proxy_pass http://{{ web_upstream }};
  }

  # Wanda rule for checks, groups, etc.
  location ~ ^/(api/checks|api/v[0-9]+/checks|api/groups|api/v[0-9]+/groups)/  {
    allow all;

    # Proxy Headers
    proxy_http_version 1.1;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-Cluster-Client-Ip $remote_addr;

    # Important Websocket Bits!
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

    proxy_pass http://{{ wanda_upstream }};
  }

  # Wanda openapi endpoints for all versions
  location ~ ^/wanda/api/(v[0-9]+|latest|all|unversioned)/openapi {
    allow all;

    # Proxy Headers
    proxy_http_version 1.1;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-Cluster-Client-Ip $remote_addr;

    proxy_pass http://{{ wanda_upstream }}/api/$1/openapi;
    proxy_redirect /api/$1/openapi /wanda/api/$1/openapi;
  }

  # Wanda doc endpoint
  location /wanda/api/doc {
    allow all;

    # Proxy Headers
    proxy_http_version 1.1;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-Cluster-Client-Ip $remote_addr;

    proxy_pass http://{{ wanda_upstream }}/api/doc;
    proxy_redirect /api/doc /wanda/api/doc;
  }

  # Web rule
  location / {
    allow all;

    # Proxy Headers
    proxy_http_version 1.1;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-Cluster-Client-Ip $remote_addr;

    # Important Websocket Bits!
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

    proxy_pass http://{{ web_upstream }};
  }
}
