---
#
# Protected values -- The following values are not intended to be
# specified by end-users and are also DEPRECATED:
trento_install_method: "{{ install_method | default('rpm') }}" # `install_method` is for backwards-compatibility
trento_docker_network_name: trentonet
trento_force_pull_images: false
trento_web_container_name: trento_web
#
# -- Auto-discovery -- if `*_host_group` variable is not empty string,
# then we'll ignore the corresponding `*_host` variable and search the
# inventory for the specified group and take the first host from that
# group. We also handle the case where hostname aliases are used,
# hence the `*_inventory_host` and `_ansible_host` variables. There is
# a special case in the auto-discovery for reasons of performance and
# circumventing various network "hairpinning" scenarios -- when the
# third party applications are installed on the same host as this
# role, then we enforce the services to talk over `localhost`.

# Postgres auto-discovery
__trento_postgres_inventory_host: "{{ groups[trento_postgres_host_group][0] }}"
__trento_postgres_ansible_host: "{{ hostvars[__trento_postgres_inventory_host].ansible_host }}"
__trento_postgres_discovery_host: "{{ (inventory_hostname in groups[trento_postgres_host_group])
                                     | ternary('localhost',
                                               __trento_postgres_ansible_host | default(__trento_postgres_inventory_host)) }}"
trento_postgres_effective_host: "{{ trento_postgres_host_group is truthy
                                    | ternary(__trento_postgres_discovery_host,
                                              trento_postgres_host) }}"

# RabbitMQ auto-discovery
__trento_rabbitmq_inventory_host: "{{ groups[trento_rabbitmq_host_group][0] }}"
__trento_rabbitmq_ansible_host: "{{ hostvars[__trento_rabbitmq_inventory_host].ansible_host }}"
__trento_rabbitmq_discovery_host: "{{ (inventory_hostname in groups[trento_rabbitmq_host_group])
                                     | ternary('localhost',
                                               __trento_rabbitmq_ansible_host | default(__trento_rabbitmq_inventory_host)) }}"
trento_rabbitmq_effective_host: "{{ trento_rabbitmq_host_group is truthy
                                    | ternary(__trento_rabbitmq_discovery_host,
                                              trento_rabbitmq_host) }}"
