---
- name: Include Docker installation variables
  ansible.builtin.include_vars: "../vars/docker.yml"

- name: Install docker
  community.general.zypper:
    name: docker
    state: present
    update_cache: true

- name: Start docker service
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Identify Python package manger prefix
  block:
    - name: Get current Python's package manger prefix
      # Linter tries to be smart, but it's not -- there is no Ansible
      # module to do RPM queries. Thus, silence this lint error.
      # noqa: command-instead-of-module
      ansible.builtin.shell: |
        set -o pipefail
        rpm -qf {{ ansible_python.executable }} | grep -E -o 'python3[[:digit:]]{0,2}'
      register: __wanda_python_prefix_result
      changed_when: false

    - name: Save current Python's package manger prefix
      ansible.builtin.set_fact:
        __wanda_current_python_package_prefix: "{{ __wanda_python_prefix_result.stdout }}"

- name: Install docker python management deps
  community.general.zypper:
    name:
      - "{{ __wanda_current_python_package_prefix }}-docker"
    state: present

- name: Force pull Trento Wanda images
  when: wanda_force_pull_images | bool
  loop:
    - "{{ wanda_container_image }}"
    - "{{ wanda_checks_container_image }}"
  community.docker.docker_image:
    name: "{{ item }}"
    force_source: true
    source: pull

- name: Create trento docker network
  community.docker.docker_network:
    name: "{{ wanda_docker_network_name }}"

- name: Checks container
  community.docker.docker_container:
    name: "{{ wanda_checks_container_name }}"
    image: "{{ wanda_checks_container_image }}"
    recreate: "{{ wanda_force_recreate_checks_container | bool }}"
    pull: true
    volumes:
      - "/usr/share/trento/checks"

- name: Wanda container
  community.docker.docker_container:
    name: "{{ wanda_container_name }}"
    state: started
    restart_policy: unless-stopped
    recreate: "{{ wanda_force_recreate_wanda_container | bool }}"
    networks:
      - name: "{{ wanda_docker_network_name }}"
    image: "{{ wanda_container_image }}"
    pull: true
    entrypoint:
      [
        "/bin/sh",
        "-c",
        '/app/bin/wanda eval "Wanda.Release.init()" && /app/bin/wanda start',
      ]
    etc_hosts:
      host.docker.internal: "host-gateway"
    ports:
      - "{{ wanda_listen_port }}:4000"
    env:
      CORS_ORIGIN: "http://localhost" # TODO: Remove placeholder
      SECRET_KEY_BASE: "{{ wanda_secret_key_base }}"
      AMQP_URL: "{{ wanda_amqp_protocol }}://{{ wanda_rabbitmq_username }}:{{ wanda_rabbitmq_password }}@{{ wanda_rabbitmq_host }}/{{ wanda_rabbitmq_vhost | urlencode | replace('/', '%2F') }}"
      DATABASE_URL: "ecto://{{ wanda_postgres_username }}:{{ wanda_postgres_password }}@{{ wanda_postgres_host }}/{{ wanda_postgres_db }}"
      OAS_SERVER_URL: "{{ omit if not (provision_proxy | bool) else wanda_oas_server_url }}"
      AUTH_SERVER_URL: "{{ wanda_web_container_name }}:4000"
    volumes_from:
      - "{{ wanda_checks_container_name }}:ro"
