# code: language=ansible
---
- name: Remove nginx vhost file
  ansible.builtin.file:
    path: "{{ rproxy_conf_base_dir }}/{{ rproxy_vhost_dir }}/{{ rproxy_vhost_filename }}.conf"
    state: absent
  notify:
    - Restart nginx
