---
# WARNING! Please, put variables here only after careful
# consideration. Put variables only if they are really common among
# ROLES.

# NOTE: If, for example, the variables are "common" to the playbook
# consider putting them into playbook host_vars/group_vars. If roles
# need to be parameterized by these "common" playbook vars, pass them
# as role parameters, instead. Note, this way is only appropriate if
# these role vars are not supposed to be changed directly by the
# users.

# NOTE: Values containing `| default()` are for
# backwards-compatibility with their deprecated names.

trento_server_name: "{{ undef(hint='Domain name of the trento installation is mandatory') }}"
trento_wanda_proxy_location: "/wanda"

trento_web_listen_port: "{{ 32767 | random(start=1024, seed=trento_server_name) }}"
trento_wanda_listen_port: "{{ 32767 | random(start=1024, seed=trento_server_name) + 1 }}"

trento_web_admin_username: admin
trento_web_admin_password: "{{ undef(hint='Password for Web admin interface is mandatory') }}"
trento_postgres_host: localhost
trento_postgres_host_group: ""
trento_web_postgres_username: web
trento_web_postgres_password: "{{ undef(hint='Password for Postgres Web user is mandatory') }}"
trento_web_postgres_db: webdb
trento_web_postgres_event_store: event_store
trento_wanda_postgres_username: wanda
trento_wanda_postgres_password: "{{ undef(hint='Password for Postgres Wanda user is mandatory') }}"
trento_wanda_postgres_db: wandadb
trento_rabbitmq_host: "{{ rabbitmq_host | default('localhost') }}"  # `rabbitmq_host` for backwards-compatibility
trento_rabbitmq_host_group: ""
trento_rabbitmq_username: trento
trento_rabbitmq_password: "{{ undef(hint='Password for RabbitMQ trento user is mandatory') }}"
trento_rabbitmq_vhost: trento
