AMQP_URL={{ web_amqp_protocol }}://{{ web_rabbitmq_username }}:{{ web_rabbitmq_password }}@{{ web_rabbitmq_host }}/{{ web_rabbitmq_vhost | urlencode | replace('/', '%2F') }}
DATABASE_URL=ecto://{{ web_postgres_username }}:{{ web_postgres_password }}@{{ web_postgres_host }}/{{ web_postgres_db }}
EVENTSTORE_URL=ecto://{{ web_postgres_username }}:{{ web_postgres_password }}@{{ web_postgres_host }}/{{ web_postgres_event_store }}
{% if web_enable_alerting is not none %}
ENABLE_ALERTING={{ web_enable_alerting | string | lower }}
{% endif %}
{% if web_smtp_server is not none %}
SMTP_SERVER={{ web_smtp_server }}
{% endif %}
{% if web_smtp_port is not none %}
SMTP_PORT={{ web_smtp_port | string }}
{% endif %}
{% if web_smtp_user is not none %}
SMTP_USER={{ web_smtp_user }}
{% endif %}
{% if web_smtp_password is not none %}
SMTP_PASSWORD={{ web_smtp_password }}
{% endif %}
{% if web_alert_sender is not none %}
ALERT_SENDER={{ web_alert_sender }}
{% endif %}
{% if web_alert_recipient is not none %}
ALERT_RECIPIENT={{ web_alert_recipient }}
{% endif %}
PROMETHEUS_URL={{ web_prometheus_url }}
SECRET_KEY_BASE={{ web_secret_key_base }}
ACCESS_TOKEN_ENC_SECRET={{ web_access_token_secret }}
REFRESH_TOKEN_ENC_SECRET={{ web_refresh_token_secret }}
ADMIN_USER={{ web_admin_username }}
ADMIN_PASSWORD={{ web_admin_password }}
ENABLE_API_KEY={{ web_enable_api_key | string | lower }}
CHARTS_ENABLED={{ web_enable_charts | string | lower }}
PORT={{ web_listen_port }}
TRENTO_WEB_ORIGIN={{ web_server_name }}
{% if provision_proxy | bool %}
OAS_SERVER_URL={{ web_oas_server_url }}
CHECKS_SERVICE_BASE_URL={{ web_wanda_proxy_location }}
{% else %}
CHECKS_SERVICE_BASE_URL=http://127.0.0.1:{{ web_wanda_listen_port }}
{% endif %}
ENABLE_OIDC={{ web_enable_oidc | string | lower }}
OIDC_CLIENT_ID={{ web_oidc_client_id }}
OIDC_CLIENT_SECRET={{ web_oidc_client_secret }}
OIDC_BASE_URL={{ web_oidc_server_base_url }}
ENABLE_OAUTH2={{ web_enable_oauth2 | string | lower }}
OAUTH2_CLIENT_ID={{ web_oauth2_client_id }}
OAUTH2_CLIENT_SECRET={{ web_oauth2_client_secret }}
OAUTH2_BASE_URL={{ web_oauth2_server_base_url }}
OAUTH2_AUTHORIZE_URL={{ web_oauth2_authorize_url }}
OAUTH2_TOKEN_URL={{ web_oauth2_token_url }}
OAUTH2_USER_URL={{ web_oauth2_user_url }}
OAUTH2_SCOPES={{ web_oauth2_scopes }}
ENABLE_SAML={{ web_enable_saml | string | lower }}
SAML_IDP_ID={{ web_saml_idp_id }}
SAML_IDP_NAMEID_FORMAT={{ web_saml_idp_nameid_format }}
SAML_SP_DIR={{ web_saml_sp_dir }}
SAML_SP_ID={{ web_saml_sp_id }}
SAML_SP_ENTITY_ID={{ web_saml_sp_entity_id }}
SAML_SP_CONTACT_NAME={{ web_saml_sp_contact_name }}
SAML_SP_CONTACT_EMAIL={{ web_saml_sp_contact_email }}
SAML_SP_ORG_NAME={{ web_saml_sp_org_name }}
SAML_SP_ORG_DISPLAYNAME={{ web_saml_sp_org_displayname }}
SAML_SP_ORG_URL={{ web_saml_sp_org_url }}
SAML_USERNAME_ATTR_NAME={{ web_saml_username_attr_name }}
SAML_EMAIL_ATTR_NAME={{ web_saml_email_attr_name }}
SAML_FIRSTNAME_ATTR_NAME={{ web_saml_firstname_attr_name }}
SAML_LASTNAME_ATTR_NAME={{ web_saml_lastname_attr_name }}
SAML_METADATA_URL={{ web_saml_metadata_url }}
SAML_METADATA_CONTENT={{ web_saml_metadata_content }}
SAML_SIGN_REQUESTS={{ web_saml_sign_requests | string | lower }}
SAML_SIGN_METADATA={{ web_saml_sign_metadata | string | lower }}
SAML_SIGNED_ASSERTION={{ web_saml_signed_assertion | string | lower }}
SAML_SIGNED_ENVELOPES={{ web_saml_signed_envelopes | string | lower}}
