# code: language=ansible
---
- name: Include Docker installation variables
  ansible.builtin.include_vars: "../defaults/docker.yml"

- name: Install docker
  community.general.zypper:
    name: docker
    state: present
    update_cache: true

- name: Start docker service
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Identify Python package manger prefix
  block:
    - name: Get current Python's package manger prefix
      # Linter tries to be smart, but it's not -- there is no Ansible
      # module to do RPM queries. Thus, silence this lint error.
      # noqa: command-instead-of-module
      ansible.builtin.shell: |
        set -o pipefail
        rpm -qf {{ ansible_python.executable }} | grep -E -o 'python3[[:digit:]]{0,2}'
      register: __app_python_prefix_result
      changed_when: false

    - name: Save current Python's package manger prefix
      ansible.builtin.set_fact:
        __app_current_python_package_prefix: "{{ __app_python_prefix_result.stdout }}"

- name: Install docker python management deps
  community.general.zypper:
    name:
      - "{{ __app_current_python_package_prefix }}-docker"
    state: present

- name: Force pull trento images
  when: force_pull_images | bool
  loop:
    - "{{ wanda_container_image }}"
    - "{{ web_container_image }}"
    - "{{ checks_container_image }}"
  community.docker.docker_image:
    name: "{{ item }}"
    force_source: true
    source: pull

- name: Create trento docker network
  community.docker.docker_network:
    name: "{{ docker_network_name }}"

- name: Checks container
  community.docker.docker_container:
    name: "{{ checks_container_name }}"
    image: "{{ checks_container_image }}"
    recreate: "{{ force_recreate_checks_container | bool }}"
    pull: true
    volumes:
      - "/usr/share/trento/checks"

- name: Wanda container
  community.docker.docker_container:
    name: "{{ wanda_container_name }}"
    state: started
    restart_policy: unless-stopped
    recreate: "{{ force_recreate_wanda_container | bool }}"
    networks:
      - name: "{{ docker_network_name }}"
    image: "{{ wanda_container_image }}"
    pull: true
    entrypoint:
      [
        "/bin/sh",
        "-c",
        '/app/bin/wanda eval "Wanda.Release.init()" && /app/bin/wanda start',
      ]
    etc_hosts:
      host.docker.internal: "host-gateway"
    ports:
      - "{{ app_wanda_listen_port }}:4000"
    env:
      CORS_ORIGIN: "http://localhost" # TODO: Remove placeholder
      SECRET_KEY_BASE: "{{ app_secret_key_base }}"
      AMQP_URL: "{{ app_amqp_protocol }}://{{ app_rabbitmq_username }}:{{ app_rabbitmq_password }}@{{ app_rabbitmq_host }}/{{ app_rabbitmq_vhost | urlencode | replace('/', '%2F') }}"
      DATABASE_URL: "ecto://{{ app_wanda_postgres_username }}:{{ app_wanda_postgres_password }}@{{ app_wanda_postgres_host }}/{{ app_wanda_postgres_db }}"
      OAS_SERVER_URL: "{{ omit if not (provision_proxy | bool) else app_wanda_oas_server_url }}"
      AUTH_SERVER_URL: "{{ web_container_name }}:4000"
    volumes_from:
      - "{{ checks_container_name }}:ro"

- name: Web container
  community.docker.docker_container:
    name: "{{ web_container_name }}"
    state: started
    recreate: "{{ force_recreate_web_container | bool }}"
    restart_policy: unless-stopped
    image: "{{ web_container_image }}"
    pull: true
    networks:
      - name: "{{ docker_network_name }}"
    entrypoint:
      [
        "/bin/sh",
        "-c",
        '/app/bin/trento eval "Trento.Release.init()" && /app/bin/trento start',
      ]
    etc_hosts:
      host.docker.internal: "host-gateway"
    ports:
      - "{{ app_web_listen_port }}:4000"
    env:
      AMQP_URL: "{{ app_amqp_protocol }}://{{ app_rabbitmq_username }}:{{ app_rabbitmq_password }}@{{ app_rabbitmq_host }}/{{ app_rabbitmq_vhost | urlencode | replace('/', '%2F') }}"
      DATABASE_URL: "ecto://{{ app_web_postgres_username }}:{{ app_web_postgres_password }}@{{ app_web_postgres_host }}/{{ app_web_postgres_db }}"
      EVENTSTORE_URL: "ecto://{{ app_web_postgres_username }}:{{ app_web_postgres_password }}@{{ app_web_postgres_host }}/{{ app_web_postgres_event_store }}"
      ENABLE_ALERTING: "{{ omit if app_enable_alerting is none else (app_enable_alerting | string | lower) }}"
      SMTP_SERVER: "{{ omit if app_smtp_server is none else app_smtp_server }}"
      SMTP_PORT: "{{ omit if app_smtp_port is none else (app_smtp_port | string) }}"
      SMTP_USER: "{{ omit if app_smtp_user is none else app_smtp_user }}"
      SMTP_PASSWORD: "{{ omit if app_smtp_password is none else app_smtp_password }}"
      ALERT_SENDER: "{{ omit if app_alert_sender is none else app_alert_sender }}"
      ALERT_RECIPIENT: "{{ omit if app_alert_recipient is none else app_alert_recipient }}"
      PROMETHEUS_URL: "{{ app_prometheus_url }}"
      SECRET_KEY_BASE: "{{ app_secret_key_base }}"
      ACCESS_TOKEN_ENC_SECRET: "{{ app_access_token_secret }}"
      REFRESH_TOKEN_ENC_SECRET: "{{ app_refresh_token_secret }}"
      ADMIN_USER: "{{ app_web_admin_username }}"
      ADMIN_PASSWORD: "{{ app_web_admin_password }}"
      ENABLE_API_KEY: "{{ app_enable_api_key | bool }}"
      CHARTS_ENABLED: "{{ app_enable_charts | bool }}"
      TRENTO_WEB_ORIGIN: "{{ app_server_name }}"
      OAS_SERVER_URL: "{{ omit if not (provision_proxy | bool) else app_web_oas_server_url }}"
      CHECKS_SERVICE_BASE_URL: "{{ (provision_proxy | bool) | ternary(app_wanda_proxy_location, 'http://127.0.0.1:' ~ app_wanda_listen_port) }}"
      ENABLE_OIDC: "{{ app_enable_oidc | bool }}"
      OIDC_CLIENT_ID: "{{ app_oidc_client_id }}"
      OIDC_CLIENT_SECRET: "{{ app_oidc_client_secret }}"
      OIDC_BASE_URL: "{{ app_oidc_server_base_url }}"
      ENABLE_OAUTH2: "{{ app_enable_oauth2 | bool }}"
      OAUTH2_CLIENT_ID: "{{ app_oauth2_client_id }}"
      OAUTH2_CLIENT_SECRET: "{{ app_oauth2_client_secret }}"
      OAUTH2_BASE_URL: "{{ app_oauth2_server_base_url }}"
      OAUTH2_AUTHORIZE_URL: "{{ app_oauth2_authorize_url }}"
      OAUTH2_TOKEN_URL: "{{ app_oauth2_token_url }}"
      OAUTH2_USER_URL: "{{ app_oauth2_user_url }}"
      OAUTH2_SCOPES: "{{ app_oauth2_scopes }}"
      ENABLE_SAML: "{{ app_enable_saml | bool }}"
      SAML_IDP_ID: "{{ app_saml_idp_id }}"
      SAML_IDP_NAMEID_FORMAT: "{{ app_saml_idp_nameid_format }}"
      SAML_SP_DIR: "{{ app_saml_sp_dir }}"
      SAML_SP_ID: "{{ app_saml_sp_id }}"
      SAML_SP_ENTITY_ID: "{{ app_saml_sp_entity_id }}"
      SAML_SP_CONTACT_NAME: "{{ app_saml_sp_contact_name }}"
      SAML_SP_CONTACT_EMAIL: "{{ app_saml_sp_contact_email }}"
      SAML_SP_ORG_NAME: "{{ app_saml_sp_org_name }}"
      SAML_SP_ORG_DISPLAYNAME: "{{ app_saml_sp_org_displayname }}"
      SAML_SP_ORG_URL: "{{ app_saml_sp_org_url }}"
      SAML_USERNAME_ATTR_NAME: "{{ app_saml_username_attr_name }}"
      SAML_EMAIL_ATTR_NAME: "{{ app_saml_email_attr_name }}"
      SAML_FIRSTNAME_ATTR_NAME: "{{ app_saml_firstname_attr_name }}"
      SAML_LASTNAME_ATTR_NAME: "{{ app_saml_lastname_attr_name }}"
      SAML_METADATA_URL: "{{ app_saml_metadata_url }}"
      SAML_METADATA_CONTENT: "{{ app_saml_metadata_content }}"
      SAML_SIGN_REQUESTS: "{{ app_saml_sign_requests | bool }}"
      SAML_SIGN_METADATA: "{{ app_saml_sign_metadata | bool }}"
      SAML_SIGNED_ASSERTION: "{{ app_saml_signed_assertion | bool }}"
      SAML_SIGNED_ENVELOPES: "{{ app_saml_signed_envelopes | bool }}"
