---
- name: Check installation method
  ansible.builtin.assert:
    that:
      - app_install_method is defined
      - app_install_method in ['docker', 'rpm']
    fail_msg: "app_install_method value must be one of: docker|rpm"

- name: Create secrets
  no_log: true
  ansible.builtin.set_fact: # noqa: var-naming[no-jinja]
    "{{ item }}": "{{ lookup('community.general.random_string', base64=True, length=64) }}"
  when: lookup('vars', item) == ""
  loop:
    - app_secret_key_base
    - app_access_token_secret
    - app_refresh_token_secret

- name: Include Docker installation tasks
  ansible.builtin.include_tasks: docker.yml
  when: app_install_method == 'docker'

- name: Include RPM installation tasks
  ansible.builtin.include_tasks: rpm.yml
  when: app_install_method == 'rpm'

- name: Extract agents API Key
  run_once: true
  block:
    - name: Login to Trento Web
      ansible.builtin.uri:
        url: "http://localhost:{{ app_web_listen_port }}/api/session"
        method: POST
        body_format: json
        body:
          username: "{{ app_web_admin_username }}"
          password: "{{ app_web_admin_password }}"
        status_code: [200]
      # Hide the admin password from logs
      no_log: true
      register: __app_web_login_result

    - name: Get the agents API key
      ansible.builtin.uri:
        url: "http://localhost:{{ app_web_listen_port }}/api/v1/settings/api_key"
        headers:
          Authorization: "Bearer {{ __app_web_login_result.json.access_token }}"
        unredirected_headers:
          - Authorization
        status_code: [200]
      # Hide the access_token from logs
      no_log: true
      register: __app_agents_api_key_result

    - name: Save the API token
      ansible.builtin.set_fact:
        app_agents_api_key: "{{ __app_agents_api_key_result.json.generated_api_key }}"
