---
- name: Check installation method
  ansible.builtin.assert:
    that:
      - app_install_method is defined
      - app_install_method in ['docker', 'rpm']
    fail_msg: "app_install_method value must be one of: docker|rpm"

- name: Create secrets
  no_log: true
  ansible.builtin.set_fact: # noqa: var-naming[no-jinja]
    "{{ item }}": "{{ lookup('community.general.random_string', base64=True, length=64) }}"
  when: lookup('vars', item) == ""
  loop:
    - app_secret_key_base
    - app_access_token_secret
    - app_refresh_token_secret

- name: Include Docker installation tasks
  ansible.builtin.include_tasks: docker.yml
  when: app_install_method == 'docker'

- name: Include RPM installation tasks
  ansible.builtin.include_tasks: rpm.yml
  when: app_install_method == 'rpm'
