# code: language=ansible
---
- name: Install Trento RPM packages
  community.general.zypper:
    name:
      - trento-web
      - trento-wanda
    state: latest
    update_cache: true
  notify:
    - Restart trento-web
    - Restart trento-wanda

- name: Show host discovery results for Web Postgres
  ansible.builtin.debug:
    msg: |
      Effective Postgres host for Web is {{ __app_web_postgres_effective_host }}.
      Override host is {{ __app_web_postgres_override_host | default('undefined') }}.
      Inventory host is {{ __app_web_postgres_inventory_host | default('undefined') }}.
      Inventory ansible host is {{ __app_web_postgres_ansible_host | default('undefined') }}.
      User value is {{ app_web_postgres_host }}
    verbosity: 1

- name: Show host discovery results for RabbitMQ
  ansible.builtin.debug:
    msg: |
      Effective RabbitMQ host for Web and Wanda is {{ __app_rabbitmq_effective_host }}.
      Override host is {{ __app_rabbitmq_override_host | default('undefined') }}.
      Inventory host is {{ __app_rabbitmq_inventory_host | default('undefined') }}.
      Inventory ansible host is {{ __app_rabbitmq_ansible_host | default('undefined') }}.
      User value is {{ app_rabbitmq_host }}
    verbosity: 1

- name: Show host discovery results for Wanda Postgres
  ansible.builtin.debug:
    msg: |
      Effective Postgres host for Wanda is {{ __app_wanda_postgres_effective_host }}.
      Override host is {{ __app_wanda_postgres_override_host | default('undefined') }}.
      Inventory host is {{ __app_wanda_postgres_inventory_host | default('undefined') }}.
      Inventory ansible host is {{ __app_wanda_postgres_ansible_host | default('undefined') }}.
      User value is {{ app_wanda_postgres_host }}
    verbosity: 1

- name: Configure trento-web config
  ansible.builtin.template:
    src: trento-web.j2
    dest: /etc/trento/trento-web
    owner: root
    group: root
    mode: '0644'
  notify:
    - Restart trento-web

- name: Configure trento-wanda config
  ansible.builtin.template:
    src: trento-wanda.j2
    dest: /etc/trento/trento-wanda
    owner: root
    group: root
    mode: '0644'
  notify:
    - Restart trento-wanda

- name: Start trento-web service
  ansible.builtin.service:
    name: trento-web
    state: started
    enabled: true

- name: Start trento-wanda service
  ansible.builtin.service:
    name: trento-wanda
    state: started
    enabled: true
