{{ ansible_managed | comment }}

server-url: {{ agent_trento_server_url }}
api-key: {{ agent_web_api_key }}
facts-service-url: {{ agent_amqp_protocol }}://{{ agent_rabbitmq_username }}:{{ agent_rabbitmq_password }}@{{ __agent_rabbitmq_effective_host }}/{{ agent_rabbitmq_vhost | urlencode | replace('/', '%2F') }}
