# code: language=ansible
---
- name: Ensure prometheus group is present
  ansible.builtin.group:
    name: prometheus
    system: true
  when: ansible_distribution_version >= "15.4"

- name: Create Prometheus system user
  ansible.builtin.user:
    name: prometheus
    system: true
    group: prometheus
    shell: /sbin/nologin
    comment: "User for Prometheus service"
  when: ansible_distribution_version >= "15.4"

- name: Install package using zypper module
  ansible.builtin.package:
    name: golang-github-prometheus-prometheus
    state: present

- name: Create Prometheus config
  ansible.builtin.template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
    owner: prometheus
    group: prometheus
    mode: "0644"
    backup: true
  notify:
    - Restart Prometheus

- name: Configure prometheus remote write receiver
  ansible.builtin.template:
    src: prometheus-sysconfig.j2
    dest: /etc/sysconfig/prometheus
    owner: root
    group: root
    mode: "0644"
    backup: true
  notify:
    - Restart Prometheus

- name: Enable prometheus service
  ansible.builtin.service:
    name: prometheus
    state: started
    enabled: true
