# code: language=ansible
---
- name: Restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted

- name: Restart firewalld
  ansible.builtin.service:
    name: firewalld
    state: restarted
