# code: language=ansible
---
- name: Install postgresql
  when: postgres_install == 'true'
  community.general.zypper:
    name:
      - postgresql-server
    state: present
    update_cache: true

- name: Install postgres python management deps
  community.general.zypper:
    name:
      - "{{ current_python_package_prefix }}-psycopg2"
    state: present

- name: Start postgresql service
  ansible.builtin.service:
    name: postgresql
    state: started
    enabled: true

- name: Configure Postgres
  become: true
  become_user: postgres
  block:
    - name: "Configure postgres to listen on *"
      community.postgresql.postgresql_set:
        name: listen_addresses
        value: "*"
      notify: Restart postgres

    # this task is implemented with `lineinfile` instead of `pg_hba` module
    # as the second want does not provide any option to set the order of
    # the new entry, and this case, the new entry must be pretty much on top
    # of the host entries to apply properly the precedence of rules
    - name: Configure pg_hba to accept connection from trento services
      notify: Restart postgres
      ansible.builtin.lineinfile:
        path: /var/lib/pgsql/data/pg_hba.conf
        regexp: "^host.*{{ postgres_web_db }},{{ postgres_web_event_store }},{{ postgres_wanda_db }}"
        insertafter: "^local.*all.*all.*peer"
        line: "host\t{{ postgres_web_db }},{{ postgres_web_event_store }},{{ postgres_wanda_db }}\t{{ postgres_web_user }},{{ postgres_wanda_user }}\t0.0.0.0/0\tmd5"

    - name: Create postgres web database
      community.postgresql.postgresql_db:
        name: "{{ postgres_web_db }}"
        state: present

    - name: Create postgres web event store
      community.postgresql.postgresql_db:
        name: "{{ postgres_web_event_store }}"
        state: present

    - name: Create postgres wanda database
      community.postgresql.postgresql_db:
        name: "{{ postgres_wanda_db }}"
        state: present

    - name: Create web database user
      community.postgresql.postgresql_user:
        login_db: "{{ postgres_web_db }}"
        name: "{{ postgres_web_user }}"
        password: "{{ postgres_web_password }}"
        comment: "Web user provisioned by playbook"
        state: present

    - name: Create wanda database user
      community.postgresql.postgresql_user:
        login_db: "{{ postgres_wanda_db }}"
        name: "{{ postgres_wanda_user }}"
        password: "{{ postgres_wanda_password }}"
        comment: "Wanda user provisioned by playbook"
        state: present

    - name: Grant privilegies to the web user for the web database
      community.postgresql.postgresql_privs:
        login_db: "{{ postgres_web_db }}"
        objs: public
        roles: "{{ postgres_web_user }}"
        privs: ALL
        type: schema
        state: present

    - name: Grant privilegies to the web user for the web event store
      community.postgresql.postgresql_privs:
        login_db: "{{ postgres_web_event_store }}"
        objs: public
        roles: "{{ postgres_web_user }}"
        privs: ALL
        type: schema
        state: present

    - name: Grant privilegies to the wanda user for the wanda database
      community.postgresql.postgresql_privs:
        login_db: "{{ postgres_wanda_db }}"
        objs: public
        roles: "{{ postgres_wanda_user }}"
        privs: ALL
        type: schema
        state: present
