# code: language=ansible
---
- name: Install postgresql
  when: postgres_install == 'true'
  community.general.zypper:
    name:
      - postgresql-server
    state: present
    update_cache: true

- name: Get current Python's package manger prefix
  # Linter tries to be smart, but it's not -- there is no Ansible
  # module to do RPM queries. Thus, silence this lint error.
  # noqa: command-instead-of-module
  ansible.builtin.shell: |
    set -o pipefail
    rpm -qf {{ ansible_python.executable }} | grep -E -o 'python3[[:digit:]]{0,2}'
  register: __postgres_python_prefix_result
  changed_when: false

- name: Save current Python's package manger prefix
  ansible.builtin.set_fact:
    __postgres_current_python_package_prefix: "{{ __postgres_python_prefix_result.stdout }}"

- name: Install postgres python management deps
  community.general.zypper:
    name:
      - "{{ __postgres_current_python_package_prefix }}-psycopg2"
    state: present

- name: Start postgresql service
  ansible.builtin.service:
    name: postgresql
    state: started
    enabled: true

- name: Configure Postgres
  become: true
  become_user: postgres
  vars:
    # Pipelining as workaround for when SSH connection is not made
    # with root and then switching to unprivileged user: There are
    # other possibilities:
    # https://docs.ansible.com/projects/ansible/latest/playbook_guide/playbooks_privilege_escalation.html#risks-of-becoming-an-unprivileged-user
    ansible_ssh_pipelining: true
  block:
    - name: "Configure postgres to listen on *"
      community.postgresql.postgresql_set:
        name: listen_addresses
        value: "*"
      notify: Restart postgres

    # this task is implemented with `lineinfile` instead of `pg_hba` module
    # as the second want does not provide any option to set the order of
    # the new entry, and this case, the new entry must be pretty much on top
    # of the host entries to apply properly the precedence of rules
    - name: Configure pg_hba to accept connection from trento services
      notify: Restart postgres
      ansible.builtin.lineinfile:
        path: /var/lib/pgsql/data/pg_hba.conf
        regexp: "^host.*{{ postgres_web_db }},{{ postgres_web_event_store }},{{ postgres_wanda_db }}"
        insertafter: "^local.*all.*all.*peer"
        line: "host\t{{ postgres_web_db }},{{ postgres_web_event_store }},{{ postgres_wanda_db }}\t{{ postgres_web_username }},{{ postgres_wanda_username }}\t0.0.0.0/0\tmd5"

    - name: Create postgres web database
      community.postgresql.postgresql_db:
        name: "{{ postgres_web_db }}"
        state: present

    - name: Create postgres web event store
      community.postgresql.postgresql_db:
        name: "{{ postgres_web_event_store }}"
        state: present

    - name: Create postgres wanda database
      community.postgresql.postgresql_db:
        name: "{{ postgres_wanda_db }}"
        state: present

    - name: Create web database user
      community.postgresql.postgresql_user:
        login_db: "{{ postgres_web_db }}"
        name: "{{ postgres_web_username }}"
        password: "{{ postgres_web_password }}"
        comment: "Web user provisioned by playbook"
        state: present

    - name: Create wanda database user
      community.postgresql.postgresql_user:
        login_db: "{{ postgres_wanda_db }}"
        name: "{{ postgres_wanda_username }}"
        password: "{{ postgres_wanda_password }}"
        comment: "Wanda user provisioned by playbook"
        state: present

    - name: Grant privilegies to the web user for the web database
      community.postgresql.postgresql_privs:
        login_db: "{{ postgres_web_db }}"
        objs: public
        roles: "{{ postgres_web_username }}"
        privs: ALL
        type: schema
        state: present

    - name: Grant privilegies to the web user for the web event store
      community.postgresql.postgresql_privs:
        login_db: "{{ postgres_web_event_store }}"
        objs: public
        roles: "{{ postgres_web_username }}"
        privs: ALL
        type: schema
        state: present

    - name: Grant privilegies to the wanda user for the wanda database
      community.postgresql.postgresql_privs:
        login_db: "{{ postgres_wanda_db }}"
        objs: public
        roles: "{{ postgres_wanda_username }}"
        privs: ALL
        type: schema
        state: present
