# code: language=ansible
---
- name: Restart Firewalld
  ansible.builtin.service:
    name: firewalld
    state: restarted

- name: Restart Prometheus
  ansible.builtin.service:
    name: prometheus
    state: restarted
