---
name: Do release

on:
  workflow_call:
    inputs:
      obs_enabled:
        type: string
        default: 'false'
      obs_project_stable:
        type: string
        description: "The OBS project, tracking stable branch, to commit changes to."
      obs_project_rolling:
        type: string
        description: "The OBS project, tracking rolling branch, to commit changes to."
      obs_package:
        type: string
        description: "The OBS package to commit change to."
    secrets:
      release_key:
        description: |
          GitHub deploy key to be used for repository access. The
          deploy key needs write permissions to the repository.
        required: true
      obs_user:
        description: OBS username for API (OBS and git) and repository access.
      obs_pass:
        description: OBS password for API (OBS-only) access.
      obs_git_pat:
        description: |
          Personal access token for the `obs_user` that would allow
          both API (Gitea) and repository access when OBS sources are
          kept in git.

jobs:
  pre-release:
    name: Detect new version, draft release, update changelog
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.detect-version.outputs.current-version }}
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 2
          ssh-key: ${{ secrets.release_key }}

      - name: Check if there is a parent commit
        id: check-parent-commit
        run: |
          echo "sha=$(git rev-parse --verify --quiet HEAD^)" >> $GITHUB_OUTPUT

      - name: Detect new version
        id: detect-version
        if: steps.check-parent-commit.outputs.sha
        uses: salsify/action-detect-and-tag-new-version@v2
        with:
          create-tag: false
          version-command: |
            cat VERSION

      - name: Draft release
        id: draft-release
        uses: release-drafter/release-drafter@v6
        with:
          publish: false
          version: ${{ steps.detect-version.outputs.current-version }}
          disable-autolabeler: true
          config-name: release_drafter.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update CHANGELOG.md
        uses: stefanzweifel/changelog-updater-action@v1
        with:
          latest-version: ${{ steps.detect-version.outputs.current-version }}
          release-notes: ${{ steps.draft-release.outputs.body }}

      - name: Commit new changelog
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: main
          commit_message: |
            Automatically update CHANGELOG.md for release ${{ steps.detect-version.outputs.current-version }}

            [skip ci]

  release:
    name: Tag and publish release
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.publish-release.outputs.tag_name }}
    needs:
      - pre-release
    steps:
      - name: Publish release
        id: publish-release
        uses: release-drafter/release-drafter@v6
        with:
          publish: true
          version: ${{ needs.pre-release.outputs.version }}
          disable-autolabeler: true
          config-name: release_drafter.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-and-push-container-images:
    name: Build and push container images
    runs-on: ubuntu-24.04
    needs:
      - release
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
      IMAGE_REPOSITORY: ghcr.io/${{ github.repository_owner }}/ansible
      IMAGE_TAG: ${{ needs.release.outputs.version }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: docker/setup-buildx-action@v2
      - name: Log in to the Container registry
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@507c2f2dc502c992ad446e3d7a5dfbe311567a96
        with:
          images: ${{ env.IMAGE_REPOSITORY }}
      - name: Build and push container image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: "docker/Dockerfile"
          push: true
          tags: ${{ env.IMAGE_REPOSITORY }}:${{ env.IMAGE_TAG }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: "linux/amd64,linux/arm64"
          cache-from: type=gha
          cache-to: type=gha,mode=max

  obs-sync:
    name: Update OBS package (${{ matrix.name }})
    if: vars.OBS_ENABLED == 'true'
    uses: ./.github/workflows/obs.yaml
    strategy:
      matrix:
        include:
          - obs_project: ${{ vars.obs_project_stable }}
            name: stable
          - obs_project: ${{ vars.obs_project_rolling }}
            name: rolling
    needs:
      - release
    with:
      update_changelog: true
      obs_project: ${{ matrix.obs_project }}
      obs_package: ${{ vars.obs_package }}
    secrets:
      obs_user: ${{ secrets.obs_user }}
      obs_pass: ${{ secrets.obs_pass }}
      obs_git_pat: ${{ secrets.obs_git_pat }}
