---
name: OBS sync

on:
  workflow_call:
    inputs:
      update_changelog:
        type: boolean
        default: false
        description: Whether or not to update the OBS package changelog. Should only be used contextually to a release.
      obs_project:
        type: string
        required: true
        description: The OBS project to commit changes to.
      obs_package:
        type: string
        required: true
        description: The OBS package to commit change to.
    secrets:
      OBS_USER:
        required: true
      OBS_PASS:
        required: true
      OBS_GIT_PAT:
        required: true

concurrency: ${{ github.workflow }}-${{ inputs.obs_project }}

env:
  AUTHOR_EMAIL: trento-developers@suse.com

jobs:
  sync-rpm:
    name: Update RPM package definitions
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/trento-project/continuous-delivery:main
      options: -u 0:0

    steps:
      - name: Configure OSC
        env:
          OBS_USER: ${{ secrets.OBS_USER }}
          OBS_PASS: ${{ secrets.OBS_PASS }}
        run: |
          # XXX: Madness, HOME variable is set to '/github/home' and cannot be changed:
          /scripts/init_osc_creds.sh

      # TODO: Move this into the CD container
      - name: Login to OBS Git
        run: |
          git obs login add srcOBS \
                        --url https://src.opensuse.org \
                        --user ${{ secrets.OBS_USER }} \
                        --token ${{ secrets.OBS_GIT_PAT }} \
                        --set-as-default \
                        --git-uses-http

          git config --global user.name ${{ secrets.OBS_USER }}
          git config --global user.email "${AUTHOR_EMAIL}"
          git config --global credential."https://src.opensuse.org".helper '!git-obs -G srcOBS login gitcredentials-helper'

          # HACK: Force usage of HTTP when cloning URL, as opposed to
          # SSH. We need that to be able to use single PAT for API and
          # repo interactions.
          # Explanatation: osb-scm-bridge used in
          # `osc clone` re-writes URL into SSH variant. Until fixed
          # we'll use this hack.
          # https://github.com/openSUSE/obs-scm-bridge/issues/29
          git config --global url."https://src.opensuse.org".insteadOf "ssh://gitea@src.opensuse.org"

      - name: Checkout OBS package
        id: checkout
        run: |
          osc checkout ${{ inputs.obs_project }} ${{ inputs.obs_package }}
          cd ${{ inputs.obs_project }}/${{ inputs.obs_package }}

          echo "checkout_dir=$(pwd)" >> $GITHUB_OUTPUT
          echo "On branch: $(git branch -v)"
          echo -e "Remote:\n$(git remote -v)"

      # TODO: Move this into CD container scripts
      - name: Run services and commit
        run: |
          cd ${{ steps.checkout.outputs.checkout_dir }}

          echo Delete old upstream tarball...
          rm -vf *.tar.gz

          echo Run services...
          osc service run

          echo Git changes:
          git add -Av
          git status

          version="$(sed -n 's/^Version:\s*\(.*\)/\1/p' *.spec)"
          echo Version is $version

          if git diff-index --quiet HEAD; then
            echo Skipping commit and push since there are no changes.

          else
            echo Commit changes and push...
            git commit -m "GitHub Actions automated update to version $version"

            # XXX: If stuck indefinitely here, then check if
            # permissions to push into repo are allowed. Suspected Git
            # LFS bug.
            git push origin
          fi

      # `osc results -w` command can't be used to wait for build complete, according to BuildOps.
      # - name: Show build results
      #   run: osc results ${{ inputs.obs_project }} ${{ inputs.obs_package }} -w --fail-on-error
