---
name: OBS sync

on:
  workflow_call:
    inputs:
      update_changelog:
        type: boolean
        default: false
        description: Whether or not to update the OBS package changelog. Should only be used contextually to a release.
      obs_project:
        type: string
        required: true
        description: The OBS project to commit changes to.
      obs_package:
        type: string
        required: true
        description: The OBS package to commit change to.
    secrets:
      OBS_USER:
        required: true
      OBS_PASS:
        required: true
      OBS_GIT_PAT:
        required: true

concurrency: ${{ github.workflow }}-${{ inputs.obs_project }}

env:
  AUTHOR_EMAIL: trento-developers@suse.com

jobs:
  sync-rpm:
    name: Update RPM package definitions
    runs-on: ubuntu-24.04
    container:
      # TODO: REVERT THAT
      # image: ghcr.io/trento-project/continuous-delivery:main
      image: ghcr.io/trento-project/continuous-delivery:add-obs-scm-bridge-package
      # env:
      #   OBS_PACKAGE_NAME: ${{ inputs.obs_package }}
      #   CHECKOUT_DIR: /tmp/trento-web
      #   SOURCE_DIR: packaging/suse/rpm
      options: -u 0:0


    steps:
      # - uses: gerlero/add-apt-repository@v1
      #   with:
      #     uri: https://download.opensuse.org/repositories/openSUSE:/Tools/xUbuntu_24.04/
      #     key: https://download.opensuse.org/repositories/openSUSE:/Tools/xUbuntu_24.04/Release.key
      #     suite: "./"
      #     component: ""

      # - name: Install OSC tool
      #   uses: gerlero/apt-install@v1
      #   with:
      #     packages: >-
      #       osc obs-service-tar-scm
      #       obs-service-set-version obs-service-recompress

      # - name: Configure git for in-container operations
      #   run: git config --global --add safe.directory $GITHUB_WORKSPACE

      # - name: Configure OSC
      #   run: |
      #     set -x
      #     mkdir -p $HOME/.config/osc
      #     cat << EOF > $HOME/.config/osc/oscrc
      #     [general]
      #     apiurl = https://api.opensuse.org

      #     [https://api.opensuse.org]
      #     # trusted_prj=openSUSE:Factory
      #     user = ${{ secrets.OBS_USER }}
      #     pass = ${{ secrets.OBS_PASS }}
      #     # sshkey=id_rsa
      #     # credentials_mgr_class=osc.credentials.TransientCredentialsManager
      #     EOF

      - name: Configure OSC
        env:
          OBS_USER: ${{ secrets.OBS_USER }}
          OBS_PASS: ${{ secrets.OBS_PASS }}
        run: |
          # XXX: Madness, HOME variable is set to '/github/home' and cannot be changed:
          # https://github.com/actions/runner/issues/863
          # mkdir -p $HOME/.config/osc
          # cp /home/osc/.config/osc/oscrc $HOME/.config/osc
          /scripts/init_osc_creds.sh

      # TODO: Move this into the CD container
      - name: Login to OBS Git
        run: |
          git obs login add srcOBS \
                        --url https://src.opensuse.org \
                        --user ${{ secrets.OBS_USER }} \
                        --token ${{ secrets.OBS_GIT_PAT }} \
                        --set-as-default \
                        --git-uses-http

          git config --global user.name ${{ secrets.OBS_USER }}
          git config --global user.email "${AUTHOR_EMAIL}"
          git config --global credential."https://src.opensuse.org".helper '/usr/bin/git-obs -G srcOBS login gitcredentials-helper'

          # HACK: Force usage of HTTP clone URL, instead of SSH
          # ones. We need that to be able to use single PAT for API
          # and repo interactions.
          # Explanatation: osb-scm-bridge used in `osc clone`
          # re-writes URL into SSH variant. Until fixed we'll use this
          # hack.
          git config --global url."https://src.opensuse.org/".insteadOf: "ssh://gitea@src.opensuse.org:"

          # cat << EOF | tee --append ~/.gitconfig
          # [credential "https://src.opensuse.org"]
          #     helper = "!git-obs -G srcOBS login gitcredentials-helper"
          # EOF

      - name: Checkout OBS package
        id: checkout
        run: |
          set -x
          # TODO: REMOVE THIS COMMENT IF USING CD CONTAINER
          # `obs-scm-bridge` is failing build currently, so falling
          # back to directly using `git obs`. Thus, we have to fiddle around
          # with its meta subcommand as well.
          osc checkout ${{ inputs.obs_project }} ${{ inputs.obs_package }}
          cd ${{ inputs.obs_project }}/${{ inputs.obs_package }}

          # prj=${{ inputs.obs_project }}
          # git obs repo clone kkanchev/${{ inputs.obs_package }}
          # cd ${{ inputs.obs_package }}
          # git obs meta set --project=${prj}

          # Sloppy hack: `osc checkout` would choose the correct
          # branch, so we need to duplicate that logic. Instead of
          # introducing new GH input, prefer this small snippet.
          # branch="main"
          # if [ "${prj%factory}" = "${prj}" ]; then
          #   branch=stable
          # fi
          # git switch "${branch}"

          echo "checkout_dir=$(pwd)" >> $GITHUB_OUTPUT
          echo "On branch: $(git branch -v)"
          echo -e "Remote:\n$(git remote -v)"

      # TODO: Move this into CD container scripts
      - name: Run services and commit
        run: |
          set -x

          cd ${{ steps.checkout.outputs.checkout_dir }}

          echo Delete old upstream tarball...
          rm -vf *.tar.gz

          echo Run services...
          osc service run

          echo Git changes:
          git add -Av
          git status

          version="$(sed -n 's/^Version:\s*\(.*\)/\1/p' *.spec)"
          echo Version is $version

          if git diff-index --quiet HEAD; then
            echo Skipping commit and push since there are no changes.

          else
            echo Commit changes and push...
            git commit -m "GitHub Actions automated update to version $version"

            # XXX: If stuck indefinitely here, then check if
            # permissions to push into repo are allowed. Suspected Git
            # LFS bug.
            git push origin
          fi

      # `osc results -w` command can't be used to wait for build complete, according to BuildOps.
      # - name: Show build results
      #   run: osc results ${{ inputs.obs_project }} ${{ inputs.obs_package }} -w --fail-on-error
