name: Publish Containers

on:
  workflow_call:
    inputs:
      registry:
        required: false
        type: string
        default: ghcr.io
        description: "The container registry FQDN. Extracted here for clarity, just leave it to default."
      image_name:
        required: true
        type: string
        description: "The container image name, e.g. 'trento-web'"
      tag:
        required: true
        type: string
        description: "The container image tag. Note that this might be either a fixed version string, or a moving tag like 'rolling'"
      dockerfile:
        required: false
        type: string
        description: "Path to Dockerfile."
      MIX_ENV:
        required: false
        type: string
        default: prod
        description: "The MIX_ENV build environment variable. This is mainly used to build a bespoke image variant for the demo deployment, and should be left to default value in most cases."

jobs:
  detect-version:
    name: Detect version
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/trento-project/continuous-delivery:main
      options: -u 0:0
    outputs:
      version: ${{ steps.extract-version.outputs.version }}
    steps:
      - name: Configure git for in-container operations
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get version from git
        id: extract-version
        run: |
          VERSION=$(/scripts/get_version_from_git.sh)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  build-and-push:
    name: Build and push
    # needs: [detect-version]
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    env:
      IMAGE_REPOSITORY: ${{ inputs.registry }}/${{ github.repository_owner }}/${{ inputs.image_name }}
    steps:
      - uses: docker/setup-buildx-action@v3

      - name: Log into the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ${{ inputs.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: ${{ env.IMAGE_REPOSITORY }}

      - name: Build and push container image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          push: true
          tags: ${{ env.IMAGE_REPOSITORY }}:${{ inputs.tag }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=${{ needs.detect-version.outputs.version }}
            MIX_ENV=${{ inputs.MIX_ENV }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
