name: Release

on:
  push:
    branches:
      - main
    paths:
      - "VERSION"

concurrency: ${{ github.workflow }}

jobs:
  release:
    name: Do a release
    uses: ./.github/workflows/do_release.yaml
    with:
      obs_enabled: ${{ vars.OBS_ENABLED }}
      obs_project_stable: ${{ vars.OBS_PROJECT_STABLE }}
      obs_project_rolling: ${{ vars.OBS_PROJECT_ROLLING }}
      obs_package: ${{ vars.OBS_PACKAGE }}
    secrets:
      release_key: ${{ secrets.RELEASE_KEY }}
      obs_user: ${{ secrets.OBS_USER }}
      obs_pass: ${{ secrets.OBS_PASS }}
      obs_ssh_key: ${{ secrets.OBS_SSH_KEY }}
