name: Release

on:
  push:
    branches:
      - main
    paths:
      - "VERSION"

concurrency: ${{ github.workflow }}

jobs:
  release:
    name: Git Release
    uses: ./.github/workflows/git-release.yaml
    with:
      obs_enabled: ${{ vars.OBS_ENABLED }}
      obs_project_stable: ${{ vars.OBS_PROJECT_STABLE }}
      obs_project_rolling: ${{ vars.OBS_PROJECT_ROLLING }}
      obs_package: ${{ vars.OBS_PACKAGE }}
    secrets:
      release_key: ${{ secrets.RELEASE_KEY }}
      obs_user: ${{ secrets.OBS_USER }}
      obs_pass: ${{ secrets.OBS_PASS }}
      obs_ssh_key: ${{ secrets.OBS_SSH_KEY }}

  release-containers:
    name: Release GHCR Containers
    uses: ./.github/workflows/release-containers.yaml
    needs:
      - release
    strategy:
      matrix:
        tag:
          - ${{ needs.release.outputs.version }}
          - rolling
    with:
      image_name: ansible
      tag: ${{ matrix.tag }}
      version: ${{ needs.release.outputs.version }}
      dockerfile: "docker/Dockerfile"
